* {
  font-family: 'Poppins', sans-serif;
}

html {
  background-color: #ef5350;
  justify-content: center;
  text-align: center;
  margin-top: 3em;
  width: 100%;
  line-height: 1;
}

body {
  background-image: url('https://i.postimg.cc/9XSbPxcj/pexels-photo-1723637.jpg');
    background-size: cover; /* Adjusts the size of the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */

    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-height: 100vh;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  color: white;
  font-size: 3em;
}

form {
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  color: white;
  margin: 0;
  margin-bottom: 20px;
}

a {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  border: 1px solid #fff;
  border-radius: var(--border-radius);
  background: linear-gradient(60deg, #76e5fc, #000);
  color: white;
  
  transition: background 0.3s ease;
}

a:hover {
  background: linear-gradient(60deg, #76e5fc, #000);
}

a:active {
  transform: translateY(2px);
}

input {
  padding: 10px;
  width: 330px;
  height: 25px;
  border: none;
  border-radius: 10px;
  font-size: 15px; 
  transition: 0.3s;
  outline: none;
  margin-bottom: 10px;
}

input:active {
  transform: translateY(2px);
}

button {
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 1rem;
            border: none;
            border-radius: var(--border-radius);
            background: linear-gradient(60deg, #ff6ec4, #7873f5, #76e5fc);
            color: white;
            cursor: pointer;
            transition: background 0.3s ease;
        }

        button:hover {
            background: linear-gradient(60deg, #76e5fc, #7873f5, #ff6ec4);
        }

button:active {
  transform: translateY(2px);
}

#download span {
  font-size: inherit;
  animation-name: load;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

#download span:nth-child(2) {
  animation-delay: 0.2s;
}

#download span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes load {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

#card {
  position: relative; /* Set position to relative */
  top: 90%; /* Position from the top */
  left: 50%; /* Position from the left */
  transform: translate(-50%, -9%); /* Center the element horizontally and move it upwards */
  max-width: 800px;
  min-width: 300px;
  color: white;
  border-radius: 10px;
  padding: 25px;
  text-align: left;
  z-index: 999; /* Ensure it's above other elements */
}
